<html>
<script async src="https://cdn.ampproject.org/v0.js"></script>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="canonical" href="http://localhost:3000/" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>
  <style>

  </style>
  <body class="container">
    <h2><%= user%></h2>
    <amp-live-list id="my-live-list" data-poll-interval="100" data-max-items-per-page="20">
      <button class="btn btn-default" style="margin-bottom:10px;" update on="tap:my-live-list.update">New Request!</button>
      <div items>
        <% videos.forEach((video) => { %>
          <div class="panel panel-default" id="<%= video.id %>" data-sort-time="<%= video.timestamp %>">
            <div class="panel-heading" ><%= video.userName %></div>
            <div class="panel-body" ><%= video.location %></div>            
          </div>
        <% }) %>
      </div>
    </amp-live-list>
    <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
